/* Copyright 2011 The Native Client Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Set up the html and body tags so that they support a view that automatically
 * resizes itself as you change the size of the browser window.
 */
html,body {
/*  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;*/
  background-color: #A9A9A9;
}

canvas {
  border: 1px solid black;
}


